body {
	margin: 0;
	padding: 0;
	background: #191919;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.page-container {
	overflow: hidden;
}

a,
button {
	transition: background .3s ease-in-out;
	outline: none !important;
}

a:hover {
	text-decoration: none;
	cursor: pointer;
}

@font-face {
	font-family: "Inter";
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-roman.var.woff2);
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-roman.var.woff2) format("woff2");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "Inter-Black";
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-black.woff2);
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-black.woff2) format("woff2"), url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-black.woff) format("woff");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "Inter-Light";
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-light.woff2);
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-light.woff2) format('woff2'),
		url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-light.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter-Thin";
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-thin.woff2);
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-thin.woff2) format('woff2'), url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-thin.woff) format('woff');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "Inter-Bold";
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-bold.woff2);
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-bold.woff2) format('woff2'), url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-bold.woff) format('woff');
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "Inter-ExtraBold";
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-extrabold.woff2);
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-extrabold.woff2) format("woff2"), url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-extrabold.woff) format("woff");
	font-weight: normal;
	font-style: normal
}

@font-face {
	font-family: "Inter-ExtraLightItalic";
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-extralight-italic.woff2);
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-extralight-italic.woff2) format('woff2'),
		url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-extralight-italic.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter-ExtraLight";
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-extralight.woff2);
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-extralight.woff2) format('woff2'),
		url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-extralight.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Inter-Medium";
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-medium.woff2);
	src: url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-medium.woff2) format('woff2'),
		url(https://static.wesa.vapronva.pw/fonts/inter/3.19/files/i-medium.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

.mainfs {
	width: 100%;
	clear: both;
	background: 50% 50% no-repeat;
	padding: 0 20px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	position: relative;
	display: flex;
}

.mainfs .container {
	padding-left: 0;
	padding-right: 0;
	position: relative;
}

.mainfs-large-padding {
	padding: 100px 20px;
}

.mainfs-medium-padding {
	padding: 50px 20px;
}

.mainfs-small-padding {
	padding: 20px;
}

.filling-screen {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	padding-top: 20px;
	padding-bottom: 20px;
}

.filling-screen>.container {
	align-self: flex-middle;
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
}

.filling-screen>.container>.row {
	flex-grow: 1;
	align-self: center;
	width: 100%;
}

.filling-screen .filling-deez-nuts-in-the-bottom {
	flex-grow: 0;
}

.filling-screen .filling-deez-nuts-in-the-bottom {
	align-self: flex-end;
}

.mainfs-onehundred-width {
	padding-left: 0;
	padding-right: 0;
}

.mainfs-onehundred-width .row {
	margin-left: 0;
	margin-right: 0;
}

.mainfs-onehundred-width .container {
	width: 100%;
	max-width: 100% !important;
}

.background-texture::before {
	content: "";
	background-size: 2px 2px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.texture-darken::before {
	background: rgba(0, 0, 0, 0.5);
}

.texture-darken-strong::before {
	background: rgba(0, 0, 0, 0.8);
}

.parallax__container {
	clip: rect(0, auto, auto, 0);
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: -1;
}

.parallax {
	position: fixed;
	top: 0;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	width: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.dark-huch {
	color: rgba(255, 255, 255, .7);
}

.dark-huch button:hover {
	color: rgba(255, 255, 255, .9);
}

.dark-huch .divider-h span {
	border-color: rgba(255, 255, 255, .2);
}

.dark-huch .a-btn,
.dark-huch .navbar a,
.dark-huch h1 a,
.dark-huch h2 a,
.dark-huch h3 a,
.dark-huch h5 a,
.dark-huch p a {
	color: rgba(255, 255, 255, .6);
}

.dark-huch .a-btn:hover,
.dark-huch .navbar a:hover,
.dark-huch h1 a:hover,
.dark-huch h2 a:hover,
.dark-huch h3 a:hover,
.dark-huch h5 a:hover,
.dark-huch p a:hover {
	color: rgba(255, 255, 255, 1);
}

.dark-huch .btn-wire,
.dark-huch .btn-wire:hover {
	color: rgba(255, 255, 255, 1);
	border-color: rgba(255, 255, 255, 1);
}

.dark-huch .card {
	color: rgba(0, 0, 0, .5);
}

.dark-huch .card button:hover {
	color: rgba(0, 0, 0, .7);
}

.dark-huch .card icon {
	border-color: rgba(0, 0, 0, .7);
}

.dark-huch .card .divider-h span {
	border-color: rgba(0, 0, 0, .1);
}

.dark-huch .card .a-btn {
	color: rgba(0, 0, 0, .6);
}

.dark-huch .card .a-btn:hover {
	color: rgba(0, 0, 0, 1);
}

.dark-huch .card .btn-wire,
.dark-huch .card .btn-wire:hover {
	color: rgba(0, 0, 0, .7);
	border-color: rgba(0, 0, 0, .3);
}

.dark-huch .card,
.light-huch {
	color: rgba(0, 0, 0, .5);
}

.dark-huch .card button:hover,
.light-huch button:hover {
	color: rgba(0, 0, 0, .7);
}

.dark-huch .card .divider-h span,
.light-huch .divider-h span {
	border-color: rgba(0, 0, 0, .1);
}

.dark-huch .card .a-btn,
.light-huch .a-btn,
.light-huch .navbar a,
.light-huch h1 a,
.light-huch h2 a,
.light-huch h3 a,
.light-huch h5 a,
.light-huch p a {
	color: rgba(0, 0, 0, .6);
}

.dark-huch .card .a-btn:hover,
.light-huch .a-btn:hover,
.light-huch .navbar a:hover,
.light-huch h1 a:hover,
.light-huch h2 a:hover,
.light-huch h3 a:hover,
.light-huch h5 a:hover,
.light-huch p a:hover {
	color: rgba(0, 0, 0, 1);
}

.dark-huch .card .btn-wire,
.dark-huch .card .btn-wire:hover,
.light-huch .btn-wire,
.light-huch .btn-wire:hover {
	color: rgba(0, 0, 0, .7);
	border-color: rgba(0, 0, 0, .3);
}

.navbar-dark .nav .dropdown-menu .nav-link {
	color: rgb(64, 64, 64);
}

.sticky-nav.sticky {
	position: fixed;
	top: 0;
	z-index: 1000;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
	transition: all .2s ease-out;
}

.navbar-light .menu-icon-rounded-uneven-list .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgba(0, 0, 0, 0.5)' stroke-miterlimit='10' d='M3.5,7A1.5,1.5,0,1,1,2,8.5,1.5,1.5,0,0,1,3.5,7Zm6,0h11a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,7Zm0,7h17a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,14Zm0,7h11a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,21Zm-6-7A1.5,1.5,0,1,1,2,15.5,1.5,1.5,0,0,1,3.5,14Zm0,7A1.5,1.5,0,1,1,2,22.5,1.5,1.5,0,0,1,3.5,21Z'/%3E%3C/svg%3E");
}

.navbar-dark .menu-icon-rounded-uneven-list .navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='rgba(255, 255, 255, 0.5)' stroke-miterlimit='10' d='M3.5,7A1.5,1.5,0,1,1,2,8.5,1.5,1.5,0,0,1,3.5,7Zm6,0h11a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,7Zm0,7h17a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,14Zm0,7h11a1.5,1.5,0,0,1,0,3H9.5A1.5,1.5,0,0,1,9.5,21Zm-6-7A1.5,1.5,0,1,1,2,15.5,1.5,1.5,0,0,1,3.5,14Zm0,7A1.5,1.5,0,1,1,2,22.5,1.5,1.5,0,0,1,3.5,21Z'/%3E%3C/svg%3E");
}

.menu-deez-menu-position {
	position: absolute;
	z-index: 10000;
}

.navbar-toggle {
	transition: all .1s linear;
}

.selected-nav {
	opacity: 0;
	transform: scale(0.3);
	transition: all .1s linear;
}

.close-special-menu {
	position: absolute;
	display: block;
	width: 25px;
	height: 25px;
	top: 16px;
	right: 10px;
	z-index: 10000;
}

.nav-invert .navigation-siding .close-special-menu {
	left: 260px;
}

.close-special-menu .close-icon {
	display: block;
	width: 100%;
	height: 1px;
	transform: rotate(45deg);
	margin-top: 12px;
}

.close-special-menu .close-icon:after {
	content: "";
	display: inherit;
	width: inherit;
	height: inherit;
	background: inherit;
	transform: rotate(90deg);
}

.lock-scroll {
	overflow: hidden;
	transition: background .3s linear;
}

.nav-special::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 0;
	height: 0;
}

.nav-special .dropdown-menu .dropdown .caret {
	border-top-color: rgba(255, 255, 255, .8);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	margin: 0 0 0 5px;
	float: none;
}

.menu-deez-menu-position .site-navigation.pull-right {
	float: none !important;
}

.close-special-menu .close-icon {
	background: #fff;
}

.menu-deez-menu-position navdeeznuts {
	background: #000;
}

.nav-special.navigation-siding {
	position: fixed;
	right: -300px;
	top: 0;
	bottom: 0;
	width: 300px;
	z-index: 1000;
	transition: all .2s linear;
}

.nav-invert .nav-special.navigation-siding {
	right: auto;
	left: -300px;
}

.nav-special.navigation-siding .site-navigation {
	margin-top: 15px;
	padding-left: 15px;
}

.nav-special.navigation-siding .nav>li a {
	color: rgba(255, 255, 255, .8);
}

.nav-special.navigation-siding .nav>li a:hover {
	color: #FFF;
}

.open.nav-special.navigation-siding {
	right: 0;
	transition: all .2s linear;
}

.nav-invert .open.nav-special.navigation-siding {
	left: 0;
	transition: all .2s linear;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.content-tint {
	z-index: -1;
	transition: background .2s linear;
}

.content-tint.on {
	display: block;
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	background: transparent;
	z-index: 1001;
	background: rgba(0, 0, 0, .4);
}

.content-tint.on:hover {
	background: rgba(0, 0, 0, .1);
}

.navbar-toggle.menu-icon-rounded-uneven-list {
	margin-top: 7px !important;
}

@media (min-width:576px) {

	.navbar-expand-sm .dropdown-menu .dropdown-menu {
		border: 1px solid rgba(0, 0, 0, .15);
		position: absolute;
		left: 100%;
		top: -7px
	}

	.navbar-expand-sm .dropdown-menu .submenu-left {
		right: 100%;
		left: auto
	}
}

@media (min-width:768px) {
	.navbar-expand-md .dropdown-menu .dropdown-menu {
		border: 1px solid rgba(0, 0, 0, .15);
		border: 1px solid rgba(0, 0, 0, .15);
		position: absolute;
		left: 100%;
		top: -7px
	}

	.navbar-expand-md .dropdown-menu .submenu-left {
		right: 100%;
		left: auto
	}
}

@media (min-width:992px) {
	.navbar-expand-lg .dropdown-menu .dropdown-menu {
		border: 1px solid rgba(0, 0, 0, .15);
		position: absolute;
		left: 100%;
		top: -7px
	}

	.navbar-expand-lg .dropdown-menu .submenu-left {
		right: 100%;
		left: auto
	}
}

.mg-clear {
	margin: 0;
}

.mg-sm {
	margin-top: 10px;
	margin-bottom: 5px;
}

.mg-md {
	margin-top: 10px;
	margin-bottom: 20px;
}

img.mg-sm,
img.mg-md {
	margin-top: 0;
}

img.mg-sm {
	margin-bottom: 10px;
}

img.mg-md {
	margin-bottom: 30px;
}

.btn-d,
.btn-d:hover,
.btn-d:focus {
	color: #FFF;
	background: rgba(0, 0, 0, .3);
}

button {
	outline: none !important;
}

.btn-clean {
	border: 1px solid rgba(0, 0, 0, .08);
	border-bottom-color: rgba(0, 0, 0, .1);
	text-shadow: 0 1px 0 rgba(0, 0, 1, .1);
	box-shadow: 0 1px 3px rgba(0, 0, 1, .25), inset 0 1px 0 0 rgba(255, 255, 255, .15);
}

.btn-wire {
	background: transparent !important;
	border: 2px solid transparent;
}

.btn-wire:hover {
	background: transparent !important;
	border: 2px solid transparent;
}

.icon-spacer {
	margin-right: 5px;
}

.blockquote {
	padding: 0 20px;
	border-left: 2px solid;
}

.divider-h {
	padding: 20px 0;
	width: 100%;
	display: inline-block;
}

.divider-h span {
	display: block;
	border-top: 1px solid transparent;
}

.object-hidden {
	display: none;
}

h1,
h2,
h3,
h5,
p,
.btn,
a {
	font-family: "Inter";
	color: #FFFFFF !important;
}

.container {
	max-width: 1140px;
}

.h1-header-title-style {
	font-size: 100px;
	font-weight: bold;
	font-family: "Inter-Black";
}

.h3-subtitle-main-style {
	font-size: 32px;
	font-weight: normal;
	font-family: "Inter-Light";
}

.green-blue-cyan-gradient {
	background-clip: text !important;
	-webkit-background-clip: text !important;
	background: linear-gradient(88deg, #61E1A3, #2F7DFF);
	color: transparent !important;
}

.shadow-white-blurred {
	text-shadow: 0px 0px 50px rgba(255, 255, 255, 0.30);
}

.shadow-black-blurred-strong {
	text-shadow: 0px 2px 15px rgba(0, 0, 0, 0.80);
}

.button-margins-main-welper-near-one-line {
	margin-right: 8px;
}

.shadow-box-white {
	box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.15);
}

.par-mainlabel-about-style {
	font-size: 18px;
	line-height: 24px;
}

.h3-about-page-style {
	font-family: "Inter-Bold";
	font-size: 26px;
}

.button-vertical-consistent-margin {
	margin-top: 6px;
}

.h2-about-contact-sectit-style {
	font-family: "Inter-Bold";
}

.h2-wcid-section-title-style {
	font-family: "Inter-Bold";
	line-height: 38px;
}

.par-wcid-section-example-description-style {
	line-height: 19px;
	font-size: 16px;
}

.par-sub-time-style {
	font-size: 16px;
	line-height: 20px;
	font-family: "Inter-ExtraLight";
	margin-top: 3px;
}

.h5-subsectit-medium-style {
	font-family: "Inter-Medium";
}

.h1-projects-title-section-style {
	font-family: "Inter-ExtraBold";
}

.h1-wcid-title-intro-style {
	font-family: "Inter-ExtraBold";
	font-size: 50px;
}

.par-wcid-subtitle-intro-style {
	font-family: "Inter-ExtraLightItalic";
	line-height: 18px;
}

.par-wcid-section-description-style {
	line-height: 22px;
	font-size: 18px;
}

.par-wcid-picture-exempt-style {
	font-size: 12px;
	line-height: 14px;
	font-family: "Inter-ExtraLight";
	margin-top: -18px;
	width: 80%;
}

.h3-projects-section-title-style {
	font-family: "Inter-Bold";
	font-size: 22px;
	line-height: 22px;
}

.par-projects-description-style {
	font-size: 14px;
	line-height: 18px;
}

.btn-projects-example-style {
	margin-top: 4px;
}

.h1-shse-title-style {
	font-family: "Inter-ExtraBold";
}

.h1-privacy-title-section-style {
	font-family: "Inter-ExtraBold";
}

.h3-style {
	font-family: "Inter-Bold";
}

.h3-privacy-ppar-projects-description-style {
	font-family: "Inter-Bold";
}

.bgc-dark-jungle-green {
	background-color: #202020;
}

.tc-white {
	color: rgba(255, 255, 255, 0.50) !important;
}

.icon-white {
	color: rgba(255, 255, 255, 0.70) !important;
	border-color: rgba(255, 255, 255, 0.70) !important;
}

.icon-white-2 {
	color: rgba(255, 255, 255, 0.85) !important;
	border-color: rgba(255, 255, 255, 0.85) !important;
}

.background-image-mccin_18 {
	background-image: url("https://static.images.vapronva.pw/mc-cine-scr/pubcces/mccin-18.jpeg");
}

.background-image-pfp_upscl_cced_1440 {
	background-image: url("https://static.images.vapronva.pw/_websites/pfpvapronvapw/pfp-upscl-cced-1440.jpeg");
}

.background-image-shaii_cyan_ligw {
	background-image: url("https://static.images.vapronva.pw/blurred-artwrk/arrimaw/shaii-cyan-ligw.jpg");
}

.background-image-sher_li_1 {
	background-image: url("https://static.images.vapronva.pw/ilya-photos/shrgsh/sher-il-1.jpeg");
}

.background-image-alt_vil_fireworks_newy_1 {
	background-image: url("https://static.images.vapronva.pw/id-mine/alvil-wint-ninetwen/alt_vil-fireworks-newy-1.jpeg");
}

.background-image-chernoluchie_winter_twtw_drone_4 {
	background-image: url("https://static.images.vapronva.pw/id-mine/chrnl-filful/chernoluchie-winter-twtw-drone-4.jpeg");
}

.background-image-alt_vil_ambient_night_walk_nin {
	background-image: url("https://static.images.vapronva.pw/id-mine/alvil-wint-ninetwen/alt_vil-ambient-night-walk-nin.jpeg");
}

.background-image-alt_vil_excur_forest_river_twtw_1 {
	background-image: url("https://static.images.vapronva.pw/id-mine/alvil-wint-ninetwen/alt_vil-excur-forest-river-twtw-1.jpeg");
}

.background-image-aktru_main_uphg_drone_1 {
	background-image: url("https://static.images.vapronva.pw/id-mine/aktr-ind/aktru-main-uphg-drone-1.jpeg");
}

.background-image-alt_vil_fireworks_newy_2 {
	background-image: url("https://static.images.vapronva.pw/id-mine/alvil-wint-ninetwen/alt_vil-fireworks-newy-2.jpeg");
}

.background-image-aktru_onfoot_mountain_auttw_2 {
	background-image: url("https://static.images.vapronva.pw/id-mine/aktr-ind/aktru-onfoot-mountain-auttw-2.jpeg");
}

.background-image-sher_li_2 {
	background-image: url("https://static.images.vapronva.pw/ilya-photos/shrgsh/sher-il-2.jpeg");
}

.background-image-mtlqbp_mntflw_tt_6 {
	background-image: url("https://static.images.vapronva.pw/mtch-wtr-bttl/mksdnr-water-mantaflow-tst/mtlqbp-mntflw-tt-6.jpeg");
}

.background-image-mccin_1 {
	background-image: url("https://static.images.vapronva.pw/mc-cine-scr/pubcces/mccin-1.jpeg");
}

.background-image-mccin_28 {
	background-image: url("https://static.images.vapronva.pw/mc-cine-scr/pubcces/mccin-28.jpeg");
}

.background-image-mtlqbp_mntflw_tt_7 {
	background-image: url("https://static.images.vapronva.pw/mtch-wtr-bttl/mksdnr-water-mantaflow-tst/mtlqbp-mntflw-tt-7.jpeg");
}

.background-image-alt_vil_fireworks_newy_3 {
	background-image: url("https://static.images.vapronva.pw/id-mine/alvil-wint-ninetwen/alt_vil-fireworks-newy-3.jpeg");
}

.background-image-sher_li_4 {
	background-image: url("https://static.images.vapronva.pw/ilya-photos/shrgsh/sher-il-4.jpeg");
}

.background-image-chernoluchie_winter_twtw_drone_6 {
	background-image: url("https://static.images.vapronva.pw/id-mine/chrnl-filful/chernoluchie-winter-twtw-drone-6.jpeg");
}

.background-image-ivobl_ph_il_9 {
	background-image: url("https://static.images.vapronva.pw/ilya-photos/iomp/ivobl-ph-il-9.jpeg");
}

.background-image-ivobl_ph_il_8 {
	background-image: url("https://static.images.vapronva.pw/ilya-photos/iomp/ivobl-ph-il-8.jpeg");
}

.background-image-alt_vil_excur_forest_river_twtw_2 {
	background-image: url("https://static.images.vapronva.pw/id-mine/alvil-wint-ninetwen/alt_vil-excur-forest-river-twtw-2.jpeg");
}

#particles-js {
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.page-scroll-progress-bar {
	top: 0;
	left: 0;
	right: 0;
	width: 0;
	position: fixed;
	z-index: 999999;
}

@media (min-width: 576px) {
	.mainfs-padding-medium-small {
		padding: 50px 20px;
	}

	.mainfs-padding-none-smal {
		padding: 0 20px;
	}
}

@media (min-width: 768px) {
	.mainfs-padding-large-medium {
		padding: 100px 20px;
	}

	.mainfs-padding-none-medium {
		padding: 0 20px;
	}
}

@media (min-width: 992px) {
	.mainfs-padding-largelarge-large {
		padding: 200px 20px;
	}

	.mainfs-padding-mediumlarge-large {
		padding: 150px 20px;
	}

	.mainfs-padding-large {
		padding: 100px 20px;
	}

	.mainfs-padding-none-large {
		padding: 0 20px;
	}
}

@media (max-width: 1024px) {
	.mainfs.mainfs-onehundred-width {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 991px) {
	.container {
		width: 100%;
	}

	.mainfs {
		padding-left: constant(safe-area-inset-left);
		padding-right: constant(safe-area-inset-right);
	}

}

@media (max-width: 991px) {
	.h1-header-title-style {
		font-size: 100px;
	}

	.h3-subtitle-main-style {
		font-size: 28px;
		line-height: 30px;
	}

	h1,
	h2,
	h3,
	h5,
	p,
	.btn,
	a {
		color: #FFFFFF !important;
	}

	.button-vertical-margins-though-suckable {
		margin-bottom: 5px;
	}

	.par-mainlabel-about-style {
		line-height: 23px;
		font-size: 17px;
	}

	.h3-about-page-style {
		font-size: 25px;
		line-height: 30px;
	}

	.par-wcid-subtitle-intro-style {
		font-family: "Inter-ExtraLightItalic";
		line-height: 18px;
	}

	.h1-wcid-title-intro-style {
		font-size: 42px;
		line-height: 36px;
		margin-bottom: 6px;
	}

	.h2-wcid-section-title-style {
		font-size: 28px;
		line-height: 30px;
	}

	.par-wcid-section-description-style {
		font-size: 17px;
		line-height: 20px;
	}

	.par-wcid-picture-exempt-style {
		line-height: 11px;
		font-size: 10px;
		margin-top: -9px;
	}

}

@media (max-width: 767px) {
	.h1-header-title-style {
		font-size: 80px;
	}

	.h3-subtitle-main-style {
		font-size: 24px;
		line-height: 22px;
	}

	h1,
	h2,
	h3,
	h5,
	p,
	.btn,
	a {
		color: #FFFFFF !important;
	}

	.text-center {}

	.button-vertical-margins-though-suckable {
		margin-bottom: 5px;
	}

	.par-mainlabel-about-style {
		font-size: 16px;
		line-height: 20px;
	}

	.h1-wcid-title-intro-style {
		font-size: 40px;
		line-height: 32px;
		margin-bottom: 6px;
	}

	.par-wcid-subtitle-intro-style {
		font-family: "Inter-ExtraLightItalic";
		line-height: 16px;
	}

	.h2-wcid-section-title-style {
		line-height: 26px;
	}

	.par-wcid-section-description-style {
		line-height: 20px;
	}

	.par-wcid-section-example-description-style {
		font-size: 15px;
		line-height: 17px;
	}

	.h5-subsectit-medium-style {
		font-size: 18px;
	}

	.navigation-siding {
		width: 230px !important;
	}

}

@media (max-width: 575px) {
	.h1-header-title-style {
		font-size: 50px;
	}

	h1,
	h2,
	h3,
	h5,
	p,
	.btn,
	a {
		color: #FFFFFF !important;
	}

	.h3-subtitle-main-style {
		line-height: 20px;
	}

	.button-vertical-margins-though-suckable {
		margin-bottom: 5px;
	}

	.button-margins-main-welper-near-one-line {}

	.par-mainlabel-about-style {
		font-size: 16px;
		line-height: 20px;
	}

	.par-wcid-section-description-style {
		line-height: 19px;
		font-size: 16px;
	}

	.h1-wcid-title-intro-style {
		font-size: 35px;
		line-height: 30px;
		margin-bottom: 8px;
	}

	.par-wcid-subtitle-intro-style {
		font-family: "Inter-ExtraLightItalic";
		font-size: 16px;
		line-height: 16px;
	}

	.h2-wcid-section-title-style {
		font-size: 25px;
		line-height: 26px;
	}

	.h5-subsectit-medium-style {
		line-height: 20px;
		font-size: 16px;
	}

	.par-sub-time-style {
		font-size: 13px;
		line-height: 13px;
	}

	.par-wcid-section-example-description-style {
		font-size: 14px;
		line-height: 14px;
	}

	.par-wcid-picture-exempt-style {
		font-size: 9px;
		line-height: 8px;
		margin-top: -1px;
	}

	.h1-projects-title-section-style {
		line-height: 26px;
		font-size: 24px;
	}

	.h3-projects-section-title-style {
		font-size: 16px;
		line-height: 16px;
	}

	.par-projects-description-style {
		font-size: 13px;
		line-height: 14px;
	}

	.margin-none {
		margin: 0;
	}

}