<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description"
		content="here, some skills that i have are presented and shown. of course, with a bit of exaggeration!">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="https://vapronva.pw/wcid/">
	<meta name="robots" content="noindex, follow">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="@vapronva — what can i do?">
	<meta name="twitter:description"
		content="here, the skills that i have are presented. it may be a bit exaggerated, so... it's really hard to write about yourself! what else to say? i hope you're having a great day!">
	<meta name="twitter:image" content="https://cdn.wesa.vapronva.pw/favicons/flovo.png">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="vapronva.pw">
	<meta property="og:title" content="@vapronva — what can i do?">
	<meta property="og:description"
		content="here, the skills that i have are presented. it may be a bit exaggerated, so... it's really hard to write about yourself! what else to say? i hope you're having a great day!">
	<meta property="og:url" content="https://vapronva.pw/wcid/">
	<link rel="shortcut icon" type="image/png" href="https://cdn.wesa.vapronva.pw/favicons/flovo.png">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.wesa.vapronva.pw/relanoic/vapronvapw/1.0.1/styles/style.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.wesa.vapronva.pw/animation-styles/1.0/animate.min.css">
	<link rel="stylesheet" type="text/css" href="https://cdn.wesa.vapronva.pw/animation-styles/1.0/marquee.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://cdn.wesa.vapronva.pw/icons/fontawesome-five/5.0.1/fontawesome.css">
	<title>@vapronva — what can i do?</title>
	<script async src="https://ackee.vapronva.pw/tracker.js" data-ackee-server="https://ackee.vapronva.pw"
		data-ackee-domain-id="2c1e4d6d-3107-43f8-86bf-9d9f8300b27c" data-ackee-opts='{" detailed": true}'></script>
</head>

<body data-clean-url="true">
	<div class="page-container">
		<div class="mainfs background-image-shaii_cyan_ligw light-huch background-texture texture-darken sticky-nav"
			id="nav">
			<div class="container mainfs-padding-none-large mainfs-zero-nuts">
				<div class="row">
					<div class="col">
						<nav class="navbar row flex-column navbar-dark navbar-expand-md" role="navigation">
							<div class="container-fluid flex-column">
								<button id="nav-toggle" type="button"
									class="ui-navbar-toggler navbar-toggler border-0 p-0 menu-icon-rounded-uneven-list"
									aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse"
									data-bs-target=".nvbr-vprw">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse nvbr-vprw  navigation-siding">
									<ul
										class="site-navigation nav navbar-nav mx-auto justify-content-center shadow-black-blurred-strong">
										<li class="nav-item">
											<a href="../" class="nav-link">Home Page</a>
										</li>
										<li class="nav-item">
											<a href="../about/" class="nav-link">About Me</a>
										</li>
										<li class="nav-item">
											<a href="." class="nav-link a-btn">What Can I Do?</a>
										</li>
										<li class="nav-item">
											<a href="../projects/" class="nav-link a-btn">Projects &amp; Experience</a>
										</li>
										<li class="nav-item">
											<a href="../shse/" class="nav-link">Services &amp; Onboarding</a>
										</li>
										<li class="nav-item">
											<a href="../privacy/" class="nav-link">Privacy Policy &amp; Values</a>
										</li>
										<li class="nav-item">
											<a href="../copyright/" class="nav-link">Copyright</a>
										</li>
										<li class="nav-item">
											<a href="https://status.vapronva.pw/" class="nav-link"
												target="_blank">Status Page</a>
										</li>
									</ul>
								</div>
							</div>
						</nav>
						<div class="row">
							<div class="col">
								<div>
									<div class="page-scroll-progress-bar  hide-those-balls"
										style="height:4px;background:#FFFFFF;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-image-aktru_onfoot_mountain_auttw_2 dark-huch background-texture texture-darken"
			id="intro">
			<div class="container mainfs-padding-largelarge-large mainfs-padding-medium-small mainfs-medium-padding">
				<div class="row">
					<div class="col">
						<h1 class="text-lg-center mg-clear text-md-start h1-wcid-title-intro-style margin-none">
							What Can I Do?
						</h1>
						<p class="mg-clear text-lg-center text-md-start par-wcid-subtitle-intro-style">
							Well… here it goes! The things I do in my free time, anytime, everywhere… It&rsquo;s really
							hard to write about yourself, TBH.
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken-strong b-parallax dark-huch" id="hendo">
			<div class="parallax background-image-chernoluchie_winter_twtw_drone_4">
			</div>
			<div class="container mainfs-padding-large mainfs-small-padding">
				<div class="row">
					<div class="col">
						<h2 class="text-lg-center mg-sm text-md-start h2-wcid-section-title-style">
							Homelab Enthusiast &amp; Developer Operations
						</h2>
						<p class="text-lg-center text-md-start par-wcid-section-description-style">
							I host all my services and sites in my beloved server rack with four servers (250+ GB of RAM
							combined) and local 10-Gig networking! And to brag even more, around 32TB of usable storage
							are installed in the rack.<br>Furthermore, I prefer using Docker for everything (like even
							the most minor thing — for example, this website — is hosted in a container and proxied via
							Nginx and Caddy). As a continuous integration tool I use a self-hosted Woodpecker CI
							instance — it&rsquo;s cool!<br>
						</p>
						<div class="row g-0 voffset-clear-xs align-items-center">
							<div class="col">
								<img src="https://cdn.images.vapronva.pw/_websites/vapronvapw/svrge-asked-for-server-pics-so-here-it-goes-15feb2022-2-screenshot.png"
									class="img-fluid mx-auto dark-huchk img-style" />
								<p
									class="text-lg-center mx-auto dark-huchk mg-clear par-wcid-picture-exempt-style text-md-center text-center">
									This is a photo of so-called "Data Ligma Gaming" server which holds most of the data
									and manages a few things.
								</p>
							</div>
							<div class="col">
								<img src="https://cdn.images.vapronva.pw/_websites/vapronvapw/saf-xornet-new-example-dataligmagaming-whooper.png"
									class="img-fluid mx-auto" />
								<p
									class="text-lg-center mx-auto dark-huchk mg-clear par-wcid-picture-exempt-style text-md-center text-center">
									That's a screenshot from Xornet — a cool open-source management dashboard — for the
									DLG server.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken-strong b-parallax dark-huch" id="mcc">
			<div class="parallax background-image-mccin_28">
			</div>
			<div class="container mainfs-padding-large mainfs-small-padding">
				<div class="row">
					<div class="col">
						<h2 class="text-lg-center mg-sm h2-wcid-section-title-style">
							Minecraft Cinematics<br>
						</h2>
						<p class="text-lg-center par-wcid-section-description-style">
							Whether it is a big event or a simple game with friends, I have recorded it with ReplayMod.
							Then, if there are several days of available free time, I'll make a so-called "Minecraft
							Cinematic" — a beautiful video in glorious 4K with shaders that tells a story of the event.
							Similarly, I created several "building" videos for unnamed YouTubers.
						</p>
						<div class="row">
							<div class="align-self-center col-lg-8">
								<div class="ratio ratio-16x9">
									<iframe class="embed-responsive-item"
										src="https://iframe.live.vapronva.pw/f3751e72-6ae2-42c8-a3ab-e7c1dde9509a"
										frameborder="0" allow="picture-in-picture" allowfullscreen>
									</iframe>
								</div>
							</div>
							<div class="col align-self-center">
								<div class="blockquote">
									<h5 class="mg-sm h5-subsectit-medium-style">
										<a class="h5-subsectit-medium-style"
											href="https://live.vapronva.pw/1999d1f7-04c2-4cc0-a62c-0b23a2615d56"
											rel="nofollow noopener noreferrer" target="_blank">Killing The Revenant —
											MineZ Adventures</a>
									</h5>
									<p class="mg-clear par-wcid-section-example-description-style">
										Me and my friends were playing MineZ on a Shotbow server with a goal of killing
										the Revenant. That's it!
									</p>
								</div>
								<div class="blockquote">
									<h5 class="mg-sm h5-subsectit-medium-style">
										<a class="h5-subsectit-medium-style"
											href="https://live.vapronva.pw/4b7f528c-525d-4469-9be5-0c922e5a6213"
											rel="nofollow noopener noreferrer" target="_blank">Playing MineZ (Killing
											the Giant) — MineZ Adventures</a>
									</h5>
								</div>
								<div class="blockquote">
									<h5 class="mg-sm h5-subsectit-medium-style">
										<a class="h5-subsectit-medium-style" href="https://youtu.be/Mv6k0P5WRmg"
											rel="nofollow noopener noreferrer" target="_blank">Enderman VS Arrows (He
											Has Nowhere to Run)</a>
									</h5>
								</div>
								<div class="blockquote">
									<h5 class="mg-sm h5-subsectit-medium-style">
										<a class="h5-subsectit-medium-style"
											href="https://live.vapronva.pw/5bcd0ca0-d4f5-49f3-a2ae-b535639b13e2"
											rel="nofollow noopener noreferrer" target="_blank">Enderman Farm Promo on
											BHO SMP</a>
									</h5>
									<!-- <p class="mg-clear par-wcid-section-example-description-style">
										deez nuts suckable
									</p> -->
								</div>
								<div class="blockquote">
									<h5 class="mg-sm h5-subsectit-medium-style">
										<a class="h5-subsectit-medium-style"
											href="https://live.vapronva.pw/f5a7cc1d-6bbb-4fa7-a9ab-2cf7341744ca"
											rel="nofollow noopener noreferrer" target="_blank">Epic MLG Shot of vapronva
											by ThisPilot + Endorsement of Fox Club Bolshoi Chlen</a>
									</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken-strong b-parallax dark-huch" id="iwd">
			<div class="parallax background-image-alt_vil_excur_forest_river_twtw_1">
			</div>
			<div class="container mainfs-padding-large mainfs-small-padding">
				<div class="row">
					<div class="col">
						<h2 class="text-lg-center mg-sm text-md-start h2-wcid-section-title-style">
							iOS / watchOS Development
						</h2>
						<p class="text-lg-center text-md-start par-wcid-section-description-style mg-clear">
							Since late 2020 I have been learning Swift and SwiftUI — to be honest, I love it! I have not
							felt this confident in the code before. Unfortunately, UIKit is still unprecedentedly
							popular, though SwiftUI reaches new areas every year going forward. So, as a practice, I
							made several simple or medium-complicated apps for iOS and watchOS (recently heavily
							experimented with only-for-watchOS development) for my friends and me.<br>
						</p><img
							src="https://cdn.images.vapronva.pw/_websites/vapronvapw/xcode-example-about-main-computerelements.png"
							class="img-fluid mx-auto dark-huchk" />
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs b-parallax dark-huch background-texture texture-darken-strong" id="tdb">
			<div class="parallax background-image-mtlqbp_mntflw_tt_6">
			</div>
			<div class="container mainfs-padding-large mainfs-small-padding">
				<div class="row">
					<div class="col">
						<h2 class="text-lg-center mg-sm text-md-start h2-wcid-section-title-style">
							Telegram / Discord Bots
						</h2>
						<p class="text-lg-center text-md-start par-wcid-section-description-style mg-clear">
							From parsing web pages and making memes to generating images with neural networks — the
							scope of bots is boundless. Not much to say else here! Though, I'd like to mention that I
							primarily use Pyrogram and Discord.py.<br>
						</p><img
							src="https://cdn.images.vapronva.pw/_websites/vapronvapw/vsc-example-aboutm-demotivatoritbot-rewritesecond.png"
							class="img-fluid mx-auto dark-huchk" />
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken-strong b-parallax dark-huch none" id="mcecsta">
			<div class="parallax background-image-mccin_1">
			</div>
			<div class="container mainfs-padding-large mainfs-small-padding">
				<div class="row">
					<div class="col">
						<h2 class="text-lg-center mg-sm h2-wcid-section-title-style">
							MC Events Coordinator / Server (Technical) Admin
						</h2>
						<p class="text-lg-center par-wcid-section-description-style">
							I have solid experience coordinating and performing Minecraft events (around 50 people) and
							administering small SMPs (up to 20 players). What else to say here?<br>
						</p>
						<div class="row">
							<div class="align-self-center col-lg-8">
								<img src="https://cdn.images.vapronva.pw/_websites/vapronvapw/gpsmp-screenshot-inside-upsidedownt-slgar-coreprotect-ex-mccin-screenshot-elp.png"
									class="img-fluid mx-auto dark-huchk" />
								<p
									class="text-lg-center mx-auto dark-huchk mg-clear par-wcid-picture-exempt-style text-md-center text-center">
									One time a player from other "guild" build upside-down-T's on our base. It was unexpected!
								</p>
							</div>
							<div class="col align-self-center">
								<div class="blockquote">
									<h5 class="mg-sm h5-subsectit-medium-style">
										Gunter Penguin SMP
									</h5>
									<p class="mg-clear par-sub-time-style">
										2021 - Summer 2021; 1.16.1; Vanilla with Enhancement Plugins
									</p>
								</div>
								<div class="blockquote">
									<h5 class="mg-sm h5-subsectit-medium-style">
										BHO SMP
									</h5>
									<p class="mg-clear par-sub-time-style">
										2020 - Spring 2021; 1.16; Pure Vanilla
									</p>
								</div>
								<div class="blockquote">
									<h5 class="mg-sm h5-subsectit-medium-style">
										KozhevnikLand
									</h5>
									<p class="mg-clear par-sub-time-style">
										2019 - Late 2020; 1.16; Pure Vanilla
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs b-parallax dark-huch background-texture texture-darken-strong" id="fd">
			<div class="parallax background-image-alt_vil_ambient_night_walk_nin">
			</div>
			<div class="container mainfs-padding-large mainfs-small-padding">
				<div class="row">
					<div class="col">
						<h2 class="text-lg-center mg-sm h2-wcid-section-title-style">
							Frontend Development
						</h2>
						<p class="text-lg-center par-wcid-section-description-style">
							An example of that you can see right in front of you!<br>I <s>love using</s> use Bootstrap and try to
							minimise JavaScript dependency <s>(clearly skill issue)</s> (but I'll consider moving to React or Vue or something like
							it soon).<br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken-strong b-parallax dark-huch" id="ve">
			<div class="parallax background-image-sher_li_4">
			</div>
			<div class="container mainfs-padding-large mainfs-small-padding">
				<div class="row">
					<div class="col">
						<h2 class="text-lg-center mg-sm h2-wcid-section-title-style">
							Video Editing
						</h2>
						<p class="text-lg-center mg-clear">
							TBD<br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken-strong b-parallax dark-huch" id="pedp">
			<div class="parallax background-image-aktru_main_uphg_drone_1">
			</div>
			<div class="container mainfs-padding-large mainfs-small-padding">
				<div class="row">
					<div class="col">
						<h2 class="text-lg-center mg-sm h2-wcid-section-title-style">
							Photo Editing &amp; Drone Photography
						</h2>
						<p class="text-lg-center mg-clear">
							TBD<br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken-strong b-parallax dark-huch" id="bd">
			<div class="parallax background-image-sher_li_2">
			</div>
			<div class="container mainfs-padding-large mainfs-small-padding">
				<div class="row">
					<div class="col">
						<h2 class="text-lg-center mg-sm h2-wcid-section-title-style">
							Backend Development
						</h2>
						<p class="text-lg-center mg-clear">
							TBD<br>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken-strong b-parallax dark-huch" id="tdar">
			<div class="parallax background-image-mtlqbp_mntflw_tt_7">
			</div>
			<div class="container mainfs-padding-large mainfs-small-padding">
				<div class="row">
					<div class="col">
						<h2 class="text-lg-center mg-sm h2-wcid-section-title-style">
							3D Animation / Rendering
						</h2>
						<p class="text-lg-center mg-clear">
							TBD<br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://cdn.wesa.vapronva.pw/libraries/jquery/2.2.3/jquery.min.js"></script>
	<script src="https://cdn.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.wesa.vapronva.pw/relanoic/vapronvapw/1.0.1/javascript/main.min.js"></script>
	<script src="https://cdn.wesa.vapronva.pw/libraries/pagescrollprogress/1.0/page-scroll-progress.min.js"></script>
	<script src="https://cdn.wesa.vapronva.pw/libraries/universal-parallax/1.0/universal-parallax.min.js"></script>
</body>

</html>