<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description" content="here you'll find more information about me! that's it, i guess?">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="https://vapronva.pw/about/">
	<meta name="robots" content="noindex, follow">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="@vapronva — about me">
	<meta name="twitter:description"
		content="here you'll find more information about me... but why would you? that's it, i guess?... anyway, thanks and have a good day!">
	<meta name="twitter:image" content="https://static.wesa.vapronva.pw/favicons/flovo.png">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="vapronva.pw">
	<meta property="og:title" content="@vapronva — about me">
	<meta property="og:description"
		content="here you'll find more information about me... but why would you? that's it, i guess?... anyway, thanks and have a good day!">
	<meta property="og:url" content="https://vapronva.pw/about/">
	<link rel="shortcut icon" type="image/png" href="https://static.wesa.vapronva.pw/favicons/flovo.png">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/relanoic/vapronvapw/1.1/styles/style.min.css">
	<link rel="stylesheet" type="text/css" href="https://static.wesa.vapronva.pw/animation-styles/1.0/animate.min.css">
	<link rel="stylesheet" type="text/css" href="https://static.wesa.vapronva.pw/animation-styles/1.0/marquee.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/icons/fontawesome-five/5.0/fontawesome.css">
	<title>@vapronva — about me</title>
	<script async defer data-website-id="c3185ded-2705-41d9-9238-67a8fd61a7bf"
		src="https://analytics.vapronva.pw/deez_sussy_analytics.js"></script>
</head>

<body data-clean-url="true">
	<div class="page-container">
		<div class="mainfs background-image-shaii_cyan_ligw light-huch background-texture texture-darken sticky-nav"
			id="nav">
			<div class="container mainfs-padding-none-large mainfs-zero-nuts">
				<div class="row">
					<div class="col">
						<nav class="navbar row flex-column navbar-dark navbar-expand-md" role="navigation">
							<div class="container-fluid flex-column">
								<button id="nav-toggle" type="button"
									class="ui-navbar-toggler navbar-toggler border-0 p-0 menu-icon-rounded-uneven-list"
									aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse"
									data-bs-target=".nvbr-vprw">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse nvbr-vprw  navigation-siding">
									<ul
										class="site-navigation nav navbar-nav mx-auto justify-content-center shadow-black-blurred-strong">
										<li class="nav-item">
											<a href="../" class="nav-link">Home Page</a>
										</li>
										<li class="nav-item">
											<a href="." class="nav-link">About Me</a>
										</li>
										<li class="nav-item">
											<a href="../wcid/" class="nav-link a-btn">What Can I Do?</a>
										</li>
										<li class="nav-item">
											<a href="../projects/" class="nav-link a-btn">Projects &amp; Experience</a>
										</li>
										<li class="nav-item">
											<a href="../shse/" class="nav-link">Services &amp; Onboarding</a>
										</li>
										<li class="nav-item">
											<a href="../privacy/" class="nav-link">Privacy Policy &amp; Values</a>
										</li>
										<li class="nav-item">
											<a href="../copyright/" class="nav-link">Copyright</a>
										</li>
										<li class="nav-item">
											<a href="https://status.vapronva.pw/" class="nav-link"
												target="_blank">Status Page</a>
										</li>
									</ul>
								</div>
							</div>
						</nav>
						<div class="row">
							<div class="col">
								<div>
									<div class="page-scroll-progress-bar  hide-those-balls"
										style="height:4px;background:#FFFFFF;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs none b-parallax dark-huch background-texture texture-darken-strong" id="info">
			<div class="parallax background-image-pfp_upscl_cced_1440 bgc-dark-jungle-green">
			</div>
			<div
				class="container mainfs-medium-padding mainfs-padding-medium-small mainfs-padding-large-medium mainfs-padding-mediumlarge-large">
				<div class="row">
					<div class="col-12">
						<div class="row">
							<div
								class="col-lg-2 col-sm-2 align-self-center col-4 offset-4 offset-lg-0 col-md-2 offset-md-5 offset-sm-5">
								<div>
									<div id="particles-js"></div>
								</div><img
									src="https://static.images.vapronva.pw/_/pfp/pfp-jan_2022-vapr-new_out-hkc-pp.png"
									class="img-fluid rounded-circle float-lg-end mg-sm img-avatar-label-style"
									data-bs-placement="left" data-bs-toggle="tooltip"
									title="Thanks to hkc (t.me/hatkid_chan) for the avatar! It has something embedded in... but what is it? Try to find out!" />
							</div>
							<div class="col-lg-10 col-12 col-md-12 col-sm-12">
								<p class="mg-clear par-mainlabel-about-style">
									Hello! I&rsquo;m Vladimir (possibly a developer, small system administrator, wanting
									to try being SRE and check out DevSecOps) — student from Russia.
								</p>
								<h3 class="mg-sm h3-about-page-style">
									Location
								</h3>
								<p class="mg-clear par-mainlabel-about-style">
									Born in Omsk (to be honest, I adore my hometown very much); now studying at ITMO
									(1st year in Software Engineering) in Saint-Petersburg.<br>
								</p>
								<h3 class="mg-sm h3-about-page-style">
									Personality
								</h3>
								<p class="mg-clear par-mainlabel-about-style">
									Myers-Briggs Personality Type: ISTP. Enneagram Personality Type: 9.<br>
								</p>
								<h3 class="mg-sm h3-about-page-style">
									Languages
								</h3>
								<p class="mg-clear par-mainlabel-about-style">
									Native — Russian; second — English (C1); third — German (A2).
								</p>
								<h3 class="mg-sm h3-about-page-style">
									Other Things
								</h3>
								<p class="mg-clear par-mainlabel-about-style">
									<a href="https://en.pronouns.page/@vapronva" rel="nofollow noopener noreferrer"
										target="_blank">pronouns.page</a> (just in case 🤷‍♀️). “Laurel” or “Yanny”:
									Laurel. Right-handed.
								</p>
								<div class="divider-h">
									<span class="divider"></span>
								</div>
								<p class="mg-clear par-mainlabel-about-style">
									A-anyways, don&rsquo;t know what to write else — feel free to ask in DMs!
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs b-parallax light-huch background-texture texture-darken-strong" id="contact">
			<div class="parallax background-image-sher_li_1">
			</div>
			<div class="container mainfs-padding-mediumlarge-large mainfs-medium-padding mainfs-padding-large-medium">
				<div class="row">
					<div class="col">
						<h2 class="mg-md h2-about-contact-sectit-style">
							Contact Information &amp; Social Media
						</h2><a href="mailto:contact@vapronva.pw"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							data-bs-placement="top" data-bs-toggle="tooltip"
							title="i use protonmail as my primary email. so, if you have it, you can send an encrypted message there!"><span
								class="icon-spacer icon-white-2 fa fa-mail-bulk"></span>Email</a><a
							href="https://github.com/vapronva"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							rel="nofollow noopener noreferrer" data-bs-placement="top" data-bs-toggle="tooltip"
							title="oh yeah, mr crabs. all of my projects are private, but contribution history is open!"
							target="_blank"><span class="icon-spacer icon-white-2 fab fa-github"></span>GitHub</a><a
							href="https://matrix.to/#/@vapronva:matrix.vapronva.pw"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							data-bs-placement="top" data-bs-toggle="tooltip"
							title="i fricking love matrix! it's so amazing: from the performance standpoint, that it's federated, can be self-hosted."
							rel="nofollow noopener noreferrer" target="_blank"><span
								class="icon-spacer icon-white-2 fa fa-network-wired"></span>Matrix</a><a
							href="https://matrix.to/#/@vapronva:matrix.vapronva.pw"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							data-bs-placement="top" data-bs-toggle="tooltip"
							title="daamn, the idea of the mastodon and the fediverse is amazing."
							rel="nofollow noopener noreferrer" target="_blank"><span
								class="icon-spacer icon-white-2 fab fa-mastodon"></span>Mastodon</a><a
							href="https://t.me/vapron_va"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							data-bs-placement="top" data-bs-toggle="tooltip"
							title="feel free to contact here too! i'll probably answer firstly from here. both secret and normal chats are welcome."
							rel="nofollow noopener noreferrer" target="_blank"><span
								class="icon-spacer icon-white-2 fab fa-telegram"></span>Telegram</a><a
							href="tel:+79952737209"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							data-bs-placement="top" data-bs-toggle="tooltip"
							title="call me anytime, why not! (disposable phone — can be changed from time to time)"><span
								class="icon-spacer icon-white-2 fa fa-phone"></span>Phone</a><a
							href="https://www.reddit.com/user/vapronva"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							data-bs-placement="top" data-bs-toggle="tooltip" title="reddit deez nuts, sir"
							rel="nofollow noopener noreferrer" target="_blank"><span
								class="icon-spacer icon-white-2 fab fa-reddit"></span>Reddit</a><a
							href="https://twitter.com/vapronva"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							data-bs-placement="top" data-bs-toggle="tooltip"
							title="don't care + didn't ask + you're white + cry about it + stay mad + get real + L + mald seethe cope harder + hoes mad + basic + skill issue + ratio + you fell off + the audacity + triggered + any askers + redpilled + get a life + ok and? + cringe + touch grass + donowalled + not based + your're a (insert stereotype) + not funny didn't laugh + you're* + grammar issue + go outside + get good + reported + ad hominem + GG! + ask deez + ez clap + straight cash + ratio again + final ratio + stay mad + stay pressed + pedophile + cancelled + done for + mad free + freer than air + rip bozo + slight_smile + cringe again + mad cuz bad + lol + irrelevant + cope + jealous + go ahead whine about it + your problem + don't care even more + sex offender + sex defender + not okay + glhf + problematic"
							rel="nofollow noopener noreferrer" target="_blank"><span
								class="icon-spacer icon-white-2 fab fa-twitter"></span>Twitter</a><a
							href="https://discord.com/users/483991031306780683"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							data-bs-placement="top" data-bs-toggle="tooltip"
							title="i'm on so many servers, yet active on a few, so... yeah. alternative &quot;link&quot;: vapronva#8617; :linus:"
							rel="nofollow noopener noreferrer" target="_blank"><span
								class="icon-spacer icon-white-2 fab fa-discord"></span>Discord</a><a
							href="https://www.youtube.com/c/vapronva"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							rel="nofollow noopener noreferrer" data-bs-placement="top" data-bs-toggle="tooltip"
							title="wow, just a youtube channel where i post weird stuff. it's mostly private, anyway."
							target="_blank"><span class="icon-spacer icon-white-2 fab fa-youtube"></span>YouTube</a><a
							href="https://www.twitch.tv/vapronva"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							rel="nofollow noopener noreferrer" data-bs-placement="top" data-bs-toggle="tooltip"
							title="just a blank channel. nothing to see, fr." target="_blank"><span
								class="icon-spacer icon-white-2 fab fa-twitch"></span>Twitch</a><a
							href="https://steamcommunity.com/profiles/76561199227681806/"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							rel="nofollow noopener noreferrer" data-bs-placement="top" data-bs-toggle="tooltip"
							title="created steam profile just to play muck and crab game. idk, just don't play other games, that's all."
							target="_blank"><span class="icon-spacer icon-white-2 fab fa-steam"></span>Steam</a><a
							href="https://www.instagram.com/vapron_va/"
							class="btn btn-d button-margins-main-welper-near-one-line button-vertical-consistent-margin"
							rel="nofollow noopener noreferrer" data-bs-placement="top" data-bs-toggle="tooltip"
							title="instagram. just instagram. haven't posted in a while, though." target="_blank"><span
								class="icon-spacer icon-white-2 fab fa-instagram"></span>Instagram</a>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken-strong mainfs-onehundred-width light-huch" id="banner">
			<div class="container mainfs-padding-none-large mainfs-zero-nuts">
				<div class="row g-0">
					<div class="col">
						<a href="https://static.images.vapronva.pw/_/banners/originals/twitter-banner-vapronva-pfp-2022-feb24.jpg"
							target="_blank"><img
								src="https://static.images.vapronva.pw/_/banners/twitter-banner-vapronva-pfp-2022-feb24.jpg"
								class="img-fluid float-lg-end" data-bs-placement="top" data-bs-toggle="tooltip"
								title="You might ask, what the hell is this? It's a render for my birthday by ThisPilot. It's so cool! Anyways, I've added memes, edited color a-a-and... Here it goes — now it's my main banner for every social network." /></a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://static.wesa.vapronva.pw/libraries/jquery/2.2.3/jquery.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.bundle.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/relanoic/vapronvapw/1.1/javascript/main.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/libraries/particles.js/2.0.0/particles.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/libraries/pagescrollprogress/1.0/page-scroll-progress.min.js"></script>
	<script
		src="https://static.wesa.vapronva.pw/libraries/particles.js/2.0.0/setup/particles-setup-mainfs-default.min.js">
	</script>
	<script src="https://static.wesa.vapronva.pw/libraries/universal-parallax/1.0/universal-parallax.min.js"></script>
</body>

</html>