<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description"
		content="hi, there! so... here you can find some info about me, ways of contacting, what the heck do i do, and so on.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="https://vapronva.pw/">
	<meta name="robots" content="index, follow">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="@vapronva — personal website">
	<meta name="twitter:description"
		content="hi, there! i hope you're doing well. so... here you can find some info about me, ways of contacting, what the heck do i do, and so on. well, thanks for visiting (or future visiting of) my website!">
	<meta name="twitter:image" content="https://static.wesa.vapronva.pw/favicons/flovo.png">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="vapronva.pw">
	<meta property="og:title" content="@vapronva — personal website">
	<meta property="og:description"
		content="hi, there! i hope you're doing well. so... here you can find some info about me, ways of contacting, what the heck do i do, and so on. well, thanks for visiting (or future visiting of) my website!">
	<meta property="og:url" content="https://vapronva.pw/">
	<link rel="shortcut icon" type="image/png" href="https://static.wesa.vapronva.pw/favicons/flovo.png">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/relanoic/vapronvapw/1.1/styles/style.min.css">
	<link rel="stylesheet" type="text/css" href="https://static.wesa.vapronva.pw/animation-styles/1.0/animate.min.css">
	<link rel="stylesheet" type="text/css" href="https://static.wesa.vapronva.pw/animation-styles/1.0/marquee.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/icons/fontawesome-five/5.0/fontawesome.css">
	<title>@vapronva — personal website</title>
	<script async defer data-website-id="c3185ded-2705-41d9-9238-67a8fd61a7bf" src="https://analytics.vapronva.pw/deez_sussy_analytics.js"></script>
</head>

<body>
	<div class="page-container">
		<div class="mainfs filling-screen b-parallax background-texture texture-darken light-huch" id="intro">
			<div class="parallax background-image-mccin_18">
			</div>
			<div class="container">
				<div class="row">
					<div class="col">
						<h1 class="text-center h1-header-title-style green-blue-cyan-gradient shadow-white-blurred mg-clear animated vanishIn"
							data-appear-anim-style="vanishIn">
							<span>vapronva</span><br>
						</h1>
						<h3 class="float-none text-center tc-white h3-subtitle-main-style mg-clear animated animDelay06 fadeIn shadow-white-blurred"
							data-appear-anim-style="fadeIn">
							Hi, there! I&rsquo;m Vladimir. And this, hueh, just a website, I guess?
						</h3>
					</div>
				</div>
			</div>
			<div class="container filling-deez-nuts-in-the-bottom">
				<div class="row">
					<div class="col-12">
						<div class="text-center animated fadeInUp none animDelay08" data-appear-anim-style="fadeInUp">
							<a href="./about/"
								class="btn btn-d button-margins-main-welper-near-one-line shadow-box-white animated pulse-hvr btn-sm button-vertical-margins-though-suckable"><span
									class="icon-spacer icon-white fa fa-user"></span>About Me</a><a href="./wcid/"
								class="btn btn-d button-margins-main-welper-near-one-line shadow-box-white animated pulse-hvr btn-sm button-vertical-margins-though-suckable"><span
									class="icon-spacer icon-white fa fa-list-alt"></span>What Can I Do?</a><a
								href="./projects/"
								class="btn btn-d button-margins-main-welper-near-one-line shadow-box-white animated pulse-hvr btn-sm button-vertical-margins-though-suckable"><span
									class="icon-spacer icon-white fa fa-project-diagram"></span>Projects &amp;
								Experience</a><a href="./shse/"
								class="btn btn-d button-margins-main-welper-near-one-line shadow-box-white btn-sm animated pulse-hvr button-vertical-margins-though-suckable"><span
									class="icon-spacer icon-white fa fa-server"></span>Services &amp; Onboarding</a><a
								href="https://status.vapronva.pw/"
								class="btn btn-d btn-sm button-margins-main-welper-near-one-line shadow-box-white animated pulse-hvr button-vertical-margins-though-suckable"
								target="_blank"><span class="icon-spacer icon-white fa fa-power-off"></span>Status
								Page</a><a href="./privacy/"
								class="btn btn-d btn-sm button-margins-main-welper-near-one-line shadow-box-white animated pulse-hvr button-vertical-margins-though-suckable"><span
									class="icon-spacer icon-white fa fa-fingerprint"></span>Privacy Policy &amp;
								Values</a><a href="./copyright/"
								class="btn btn-d btn-sm button-margins-main-welper-near-one-line shadow-box-white animated pulse-hvr button-vertical-margins-though-suckable"><span
									class="icon-spacer icon-white fa fa-copyright"></span>Copyright</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs mainfs-onehundred-width light-huch" id="balls">
			<div
				class="container mainfs-padding-none-medium mainfs-padding-none-smal mainfs-zero-nuts mainfs-padding-none-large">
				<div class="row">
					<div class="col">
						<div>
							<p class="marquee  marquee-speed-drowsy marquee-bottom"
								data-marquee="Gregory🧍🏻‍♂️, do you see 👀 the vent ⌨️on the floor🔽⁉️? Have you ever heard 👂of Among Us 📮Gregory😂🤣🧍🏻‍♂️? You need ❗️to vent ⌨️. I know 🧠it will be hard 🍆for you to be sus 🤪😂🤣📮🚘but 🍑I know 🧠you can 🥫do it Gregory 🧍🏻‍♂️😂🥴."
								custom-bric-scrollfx-target="true"
								style="font-family: Inter-Thin; color: rgb(255, 255, 255);"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://static.wesa.vapronva.pw/libraries/jquery/2.2.3/jquery.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.bundle.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/relanoic/vapronvapw/1.1/javascript/main.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/libraries/universal-parallax/1.0/universal-parallax.min.js"></script>
</body>

</html>