<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="description"
		content="projects i worked on, participated in, and much more! also, some work [irl and/or remote] experience is described here.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
	<link rel="canonical" href="https://vapronva.pw/projects/">
	<meta name="robots" content="noindex, follow">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="@vapronva — projects & experience">
	<meta name="twitter:description"
		content="this page presents you some projects i worked on and/or participated in, as well as some work experience (both irl and remote). thanks again for visiting and, possibly, checking them [projects] out!">
	<meta name="twitter:image" content="https://static.wesa.vapronva.pw/favicons/flovo.png">
	<meta property="og:type" content="website">
	<meta property="og:site_name" content="vapronva.pw">
	<meta property="og:title" content="@vapronva — projects & experience">
	<meta property="og:description"
		content="this page presents you some projects i worked on and/or participated in, as well as some work experience (both irl and remote). thanks again for visiting and, possibly, checking them [projects] out!">
	<meta property="og:url" content="https://vapronva.pw/projects/">
	<link rel="shortcut icon" type="image/png" href="https://static.wesa.vapronva.pw/favicons/flovo.png">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/relanoic/vapronvapw/1.1/styles/style.min.css">
	<link rel="stylesheet" type="text/css" href="https://static.wesa.vapronva.pw/animation-styles/1.0/animate.min.css">
	<link rel="stylesheet" type="text/css" href="https://static.wesa.vapronva.pw/animation-styles/1.0/marquee.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://static.wesa.vapronva.pw/icons/fontawesome-five/5.0/fontawesome.css">
	<title>@vapronva — projects & experience</title>
	<script async defer data-website-id="c3185ded-2705-41d9-9238-67a8fd61a7bf" src="https://analytics.vapronva.pw/deez_sussy_analytics.js"></script>
</head>

<body data-clean-url="true">
	<div class="page-container">
		<div class="mainfs background-image-shaii_cyan_ligw light-huch background-texture texture-darken sticky-nav"
			id="nav">
			<div class="container mainfs-padding-none-large mainfs-zero-nuts">
				<div class="row">
					<div class="col">
						<nav class="navbar row flex-column navbar-dark navbar-expand-md" role="navigation">
							<div class="container-fluid flex-column">
								<button id="nav-toggle" type="button"
									class="ui-navbar-toggler navbar-toggler border-0 p-0 menu-icon-rounded-uneven-list"
									aria-expanded="false" aria-label="Toggle navigation" data-bs-toggle="collapse"
									data-bs-target=".nvbr-vprw">
									<span class="navbar-toggler-icon"></span>
								</button>
								<div class="collapse navbar-collapse nvbr-vprw  navigation-siding">
									<ul
										class="site-navigation nav navbar-nav mx-auto justify-content-center shadow-black-blurred-strong">
										<li class="nav-item">
											<a href="../" class="nav-link umami--click--homepage-button-menu">Home Page</a>
										</li>
										<li class="nav-item">
											<a href="../about/" class="nav-link">About Me</a>
										</li>
										<li class="nav-item">
											<a href="../wcid/" class="nav-link a-btn umami--click--whatcanido-button-menu">What Can I Do?</a>
										</li>
										<li class="nav-item">
											<a href="." class="nav-link a-btn">Projects &amp; Experience</a>
										</li>
										<li class="nav-item">
											<a href="../shse/" class="nav-link">Services &amp; Onboarding</a>
										</li>
										<li class="nav-item">
											<a href="../privacy/" class="nav-link">Privacy Policy &amp; Values</a>
										</li>
										<li class="nav-item">
											<a href="../copyright/" class="nav-link">Copyright</a>
										</li>
										<li class="nav-item">
											<a href="https://status.vapronva.pw/" class="nav-link"
												target="_blank">Status Page</a>
										</li>
									</ul>
								</div>
							</div>
						</nav>
						<div class="row">
							<div class="col">
								<div>
									<div class="page-scroll-progress-bar  hide-those-balls"
										style="height:4px;background:#FFFFFF;"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs dark-huch background-texture texture-darken b-parallax" id="ap">
			<div class="parallax background-image-alt_vil_fireworks_newy_2">
			</div>
			<div class="container mainfs-large-padding mainfs-padding-largelarge-large">
				<div class="row">
					<div class="col">
						<h1 class="text-lg-center mg-clear h1-projects-title-section-style">
							Active Projects
						</h1>
						<div>
							<div class="text-center">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 50" stroke-width="1"
									stroke="rgba(255,255,255,0.50)" fill="none" stroke-linecap="round"
									style="max-width:500px">
									<path d="M264,25H500"></path>
									<path d="M0,25H237"></path>
									<path d="M251,22v7"></path>
									<path d="M247,22v7"></path>
									<path d="M255,22v7"></path>
									<path d="M259,22v7"></path>
									<path d="M243,22v7"></path>
								</svg>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3 class="mg-sm h3-projects-section-title-style">
									<span class="fa fa-sitemap"></span>&nbsp;That&rsquo;s a Nice Argument Unfortunately
									Dot Com<br>
								</h3>
								<p class="par-projects-description-stylemg-clear">
									A joke for fake “doxxing” of a visitor of the website visitor
								</p><a href="https://thats-a-nice-argument-unfortunately.com"
									class="btn btn-wire btn-sm w-100"
									rel="nofollow noopener" target="_blank">Website</a>
							</div>
							<div class="col">
								<h3 class="mg-sm h3-projects-section-title-style">
									<span class="fa fa-robot"></span>&nbsp;Deez SkySmart Answers Bot<br>
								</h3>
								<p class="par-projects-description-stylemg-clear">
									A bot that answers tests and quizes from skysmart.ru intelligently and completely free!
								</p><a href="tg://resolve?domain=deezsysmartanswersbot"
									class="btn btn-wire btn-sm w-100" rel="nofollow noreferrer" target="_blank">Telegram</a>
							</div>
							<div class="col">
								<h3 class="mg-sm h3-projects-section-title-style">
									<span class="fa fa-server"></span>&nbsp;Cumlord Authorative DNS<br>
								</h3>
								<p class="par-projects-description-stylemg-clear">
									Complete and free authorative DNS provider for your domain with built-in DNSSEC support.
								</p><a href="https://cumlord.ru"
									class="btn btn-wire btn-sm w-100" rel="nofollow noopener" target="_blank">Website</a>
							</div>
							<div class="col">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken b-parallax dark-huch" id="idrp">
			<div class="parallax background-image-alt_vil_fireworks_newy_3">
			</div>
			<div class="container mainfs-large-padding mainfs-padding-largelarge-large">
				<div class="row">
					<div class="col">
						<h1 class="text-lg-center mg-clear h1-projects-title-section-style">
							In-Development / Rewrite Projects
						</h1>
						<div>
							<div class="text-center">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 50" stroke-width="1"
									stroke="rgba(255,255,255,0.50)" fill="none" stroke-linecap="round"
									style="max-width:500px">
									<path d="M264,25H500"></path>
									<path d="M0,25H237"></path>
									<path d="M251,22v7"></path>
									<path d="M247,22v7"></path>
									<path d="M255,22v7"></path>
									<path d="M259,22v7"></path>
									<path d="M243,22v7"></path>
								</svg>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3 class="mg-sm h3-projects-section-title-style">
									<span class="fa fa-mobile"></span>&nbsp;Xornet — iOS Client<br>
								</h3>
								<p class="par-projects-description-stylemg-clear">
									Native iOS client for Xornet — a management dashboard for people to view &amp;
									control their servers from anywhere in the world!
								</p><a class="btn btn-wire btn-sm w-100 object-hidden"
									rel="nofollow noopener noreferrer" target="_blank">TestFlight</a>
							</div>
							<div class="col">
								<h3 class="mg-sm h3-projects-section-title-style">
									<span class="fa fa-robot"></span>&nbsp;Distortion Bot<br>
								</h3>
								<p class="par-projects-description-stylemg-clear">
									TBD / on rewrite
								</p>
							</div>
							<div class="col">
								<h3 class="mg-sm h3-projects-section-title-style">
									<span class="fa fa-robot"></span>&nbsp;Waifu Upscaler Bot<br>
								</h3>
								<p class="par-projects-description-stylemg-clear">
									TBD / on rewrite
								</p>
							</div>
							<div class="col">
								<h3 class="mg-sm h3-projects-section-title-style">
									<span class="fa fa-robot"></span>&nbsp;BassBoosting Bot<br>
								</h3>
								<p class="par-projects-description-stylemg-clear">
									TBD / on rewrite
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="mainfs background-texture texture-darken b-parallax dark-huch" id="fdp">
			<div class="parallax background-image-alt_vil_fireworks_newy_1">
			</div>
			<div class="container mainfs-large-padding mainfs-padding-largelarge-large">
				<div class="row">
					<div class="col">
						<h1 class="text-lg-center mg-clear h1-projects-title-section-style">
							Frozen / Discontinued Projects
						</h1>
						<div>
							<div class="text-center">
								<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 50" stroke-width="1"
									stroke="rgba(255,255,255,0.50)" fill="none" stroke-linecap="round"
									style="max-width:500px">
									<path d="M264,25H500"></path>
									<path d="M0,25H237"></path>
									<path d="M251,22v7"></path>
									<path d="M247,22v7"></path>
									<path d="M255,22v7"></path>
									<path d="M259,22v7"></path>
									<path d="M243,22v7"></path>
								</svg>
							</div>
						</div>
						<div class="row">
							<div class="col">
								<h3 class="mg-sm h3-projects-section-title-style">
									<span class="fa fa-server"></span>&nbsp;Asmodeus Platform<br>
								</h3>
								<p class="par-projects-description-stylemg-clear object-hidden">
									TBD
								</p>
							</div>
							<div class="col">
							</div>
							<div class="col">
							</div>
							<div class="col">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="https://static.wesa.vapronva.pw/libraries/jquery/2.2.3/jquery.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/libraries/bootstrap/5.1.3/bootstrap.bundle.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/relanoic/vapronvapw/1.1/javascript/main.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/libraries/pagescrollprogress/1.0/page-scroll-progress.min.js"></script>
	<script src="https://static.wesa.vapronva.pw/libraries/universal-parallax/1.0/universal-parallax.min.js"></script>
</body>

</html>